:root {
  --color-white: #ffffff;
  --main-color: #703912;
  --main-color-light: #a65922;
}

@font-face {
  font-family: Merriweather;
   src: url("assets/fonts/Merriweather-Bold.ttf");
 }
 @font-face {
  font-family: Inter;
   src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
 }

 .title {
  font-family: Merriweather;
 }

.body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 20px;
}

.body__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  border: 1px solid red;
}

.header {
  background: var(--main-color);
}

.header__container{
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.list {
  list-style: none;
}

.list__link {
  padding: 0 12px;
  text-decoration: none;
  color: var(--color-white);
}

.menu__list {
  display: flex;
  padding: 0 20px 0 0;
}

.main {
  margin-bottom: auto;
}

.section-intro {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
  padding: 50px 30px 35px;
  border-bottom: 15px solid var(--main-color-light);
}

.section-intro__avatar {
  width: 206px;
  height: 200px;
  border-radius: 50%;
}

.section-intro__title {
  display: flex;
  flex-direction: column;
}

.title-main {
  position: relative;
  font-size: 32px;
}

.title-main::after {
  content: "";
  position: absolute;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  bottom: -19px;
  left: 50%;
  background-color: var(--main-color);
}

.footer__container {
  height: 100px;
}