:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --main-color: #703912;
  --main-color-light: #a65922;
}

@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
  font-family: Inter;
}

.title {
  font-family: Merriweather;
}

.title_none {
  display: none;
}

.paragraph {
  font-family: Inter;
}

.body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 20px;
}

.body__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__section {
  box-sizing: border-box;
  width: calc(50% - 20px);
  padding: 10px;
}

.header {
  background: var(--main-color);
}

.header__container {
  display: flex;
  justify-content: end;
}

.menu__list {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 18px 0;
  list-style: none;
}

.menu__link {
  padding: 0 12px;
  color: var(--color-white);
}

.main {
  margin-bottom: auto;
}

.section-intro {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: auto;
  padding: 50px 30px 35px;
  border-bottom: 15px solid var(--main-color-light);
}

.section-intro__avatar {
  width: 206px;
  height: 200px;
  border-radius: 50%;
}

.section-intro__title {
  display: flex;
  flex-direction: column;
}

.title_main {
  position: relative;
  font-size: 32px;
}

.title_main::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  width: 140px;
  height: 2px;
  margin-left: -70px;
  background-color: var(--main-color);
}

.section-title-wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 0px;
  background-image: linear-gradient(to top, var(--color-white) 39px, var(--color-black) 39px, var(--color-black) 41px, var(--color-white) 41px);
}

.title_other {
  width: min-content;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  line-height: 80px;
  text-align: center;
  font-family: Merriweather;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--color-white);
}

.section-summary__content {
  text-align: justify;
}

.section-courses__list_padding {
  padding: 0 20px;
}

.course__elem {
  color: var(--main-color-light);
}

.course__link {
  color: var(--main-color-light);
}

.section-skills__list_padding {
  padding: 0 20px;
}

.section-skills__elems {
  color: var(--main-color-light);
}

.section-experience {
  width: 100%;
}

.section-experience__content {
  text-align: justify;
}

.title_inline {
  width: max-content;
}

.section-education__elem {
  color: var(--main-color-light);
}

.section-contacts__list {
  list-style: none;
}

.section-contacts__list_padding {
  padding: 0;
}

.section-contacts__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}

.section-contacts__item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-contacts__item:nth-child(1):before {
  background-image: url(./assets/svg/location_logo.svg);
}

.section-contacts__item:nth-child(2):before {
  background-image: url(./assets/svg/email_logo.svg);
}

.section-contacts__item:nth-child(3):before {
  background-image: url(./assets/svg/telegram_logo.svg);
}

.section-contacts__item:nth-child(4):before {
  background-image: url(./assets/svg/github_logo.svg);
}

.section-contacts__item:nth-child(5):before {
  background-image: url(./assets/svg/discord_logo.svg);
}

.section-contacts__elem {
  color: var(--main-color-light);
}

.footer {
  background: var(--main-color);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: var(--color-white);
}

.footer__link {
  padding: 0 12px;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .title_inline {
    display: none;
  }

  .title_none {
    display: block;
  }

  .container__section {
    width: 100%;
  }
}